@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mobile-home-background-img {
  background-size: cover;
  background-position: calc(100% + 250px) center; /* Move the image 250px to the right */
  background-image: url("https://images.pexels.com/photos/123335/pexels-photo-123335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

/* For screens 640px and above */
@media (min-width: 640px) {
  .home-background-img {
    background-size: cover;
    background-position: center center; /* Center the image */
    background-image: url("https://images.pexels.com/photos/123335/pexels-photo-123335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  }
}

.about-background-img {
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url("../public/assets/AboutImg.jpg");
}
.services-background-img {
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url("../public/assets/ServicesImg.jpg");
}
.contactUs-background-img {
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url("../public/assets/ContactUsImg.jpg");
}
.black-before-load {
  background-color: black;
}